{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol" class="form-control">
                <option value="" style="color:grey;" selected>Select Symbol</option>
                {% for item in user_stocks %}
                <option value={{ item["symbol"] }}>{{ item["symbol"] }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
    <script>
        document.querySelector('form').onsubmit = function(){
            if (!document.querySelector('select[name="sell"]').value){
                alert('Symbol is blank!');
                return false;
            } else if (!document.querySelector('input[name="shares"]').value){
                alert('Shares is blank!');
                return false;
            }
            return true;
        };
    </script>
{% endblock %}